.fadeInLeft {
	animation: fadeInLeft .4s linear;
}

.fadeOutLeft {
	animation: fadeOutLeft .4s linear;
}

@keyframes fadeInLeft {
	from {
		opacity: 0;
		transform: translate(-5%, 0);
	}
	to {
		opacity: 1;
		transform: translate(0, 0);
	}
}

@keyframes fadeOutLeft {
	from {
		opacity: 1;
		transform: translate(0, 0);
	}
	to {
		opacity: 0;
		transform: translate(-5%, 0);
	}
}
.item:hover{
    transform: scale(1.1);
    transition: 0.4s;
}

