
.baner img{
    width: 100%;
    height: 50vh;
}
.baner h2{
    font-size: 20px;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    color: white;
    z-index: 111;
 }
 .txt-h2{
    font-size: 24px;
    letter-spacing: 5px;
}
.txt-p{
    font-size: 11px;
}
.item{
    max-width: 100%;
    height: 150px;
    background-size: cover;
    border-radius: 20px;
}
.DG-item{
    width: 100%;
    background-size: cover;
    padding-top: 100%;
}





@media (min-width: 1200px){
    
    .baner img{
        width: 100%;
        height: 500px;
    }
    .baner h2{
       font-size: 32px;
       top:50%;
       left: 50%;
       transform: translate(-50%, -50%);
       position: absolute;
       color: white;
       z-index: 111;
       
    }
    .txt-h2{
        font-size: 32px;
        letter-spacing: 5px;
    }
    .txt-p{
        font-size: 14px;
    }
    .item{
        width: 400px;
        height: 250px;
        background-size: cover;
        border-radius: 20px;
    }
    .DG-item{
        background-size: cover;
    }
    .DG-img{
        height: 500px;
    }

}