
.baner img{
    width: 100%;
    height: 50vh;
}
.baner h2{
    font-size: 20px;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    
    color: white;
    z-index: 111;
    text-align: center;
    width: 100%;
 }
 .txt-h2{
    font-size: 24px;
    letter-spacing: 5px;
}
.txt-p{
    font-size: 16px;
}
.item{
    max-width: 100%;
    height: 170px;
    background-size: cover;
    border-radius: 20px;
    background-position: center;
}
.DG-item{
    width: 100%;
    background-size: cover;
    height: 430px;
    background-position: center;
}
.next{
    right: 15px;
    font-size: 25px;
    color: white;
}
.prev{
    left: 15px;
    font-size: 25px;
    color: white;
}
.showVideo{
    width: 80%;
}
.del{
    text-align: end;
    padding: 20px;
}
.mediaVIDEO{
    display: grid;
    grid-template: auto/ 1fr ;
    gap: 20px;
}
.media{
    display: grid;
    grid-template: auto / 1fr;
}
.mediaBack{
    display: grid;
}
.imgShowrom{
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
}
.tex{
    max-width: 100%;
    position: absolute;
    left: 50%;
    top: -10%;
    transform: translate(-50%, 10%);
    color: white;
}
.tex-title{
    font-size: 20px;
    margin-top: 5px;
}
.tex-head{
    font-size: 14px;
    padding-bottom: 10px;
}
.tex-content{
    font-size: 12px;
}
.popup .content {
    position: relative;
    z-index: 1111;
    border-radius: 16px;
    padding: 16px;
    width: 80%;
    height: 400px;
    background: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .15);
    background-size: cover;
    background-position: center;
}
.sample{
    display: block;
    width: 90%;
    margin: 50px auto;
}
.sample-item{
    width: 100%;
    height: 500px;
    border: 1px solid #7A7A7A;
    margin-bottom: 50px;
 }
 .sample-item-text a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
}
.sample-content{
    font-size: 11px;
}

.text-with{
    max-width: 97%;
}






@media (min-width: 1200px){
    .text-with{
        max-width: 60%;
    }
    .media{
        display: grid;
        grid-template: auto / 1fr 1fr;
    }
    .mediaBack{
        display: grid;
        grid-template: auto / 1fr 1fr;
    }
    
    .baner img{
        width: 100%;
        height: 500px;
    }
    .baner h2{
       font-size: 42px;
       top:50%;
       left: 50%;
       transform: translate(-50%, -50%);
       position: absolute;
       color: white;
       z-index: 111;
       
    }
    .txt-h2{
        font-size: 32px;
        letter-spacing: 5px;
    }
    .txt-p{
        font-size: 20px;
    }
    .mediaVIDEO{
        display: grid;
        grid-template: auto/ 1fr 1fr ;
        gap: 20px;
    }
    .item{
        width: 400px;
        height: 250px;
        background-size: cover;
        border-radius: 20px;
    }
    .DG-item{
        background-size: cover;
        height: 430px;
        background-position: center;
    }
    .del{
        text-align: end;
        padding: 20px;
    }
    .showVideo{
        width: 70%;
        
    }
    .next{
        right: 50px;
        font-size: 48px;
        color: white;
    }
    .prev{
        left: 50px;
        font-size: 48px;
        color: white;
    }
    .imgShowrom{
        width: 80%;
        height: 750px;
        background-size: cover;
    }
    .tex{
        max-width: 40%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
    }
    .tex-title{
        font-size: 32px;
    }
    .tex-head{
        font-size: 19px;
        padding-bottom: 20px;
    }
    .tex-content{
        font-size: 20px;
    }
    .popup .content {
        position: relative;
        z-index: 1111;
        border-radius: 16px;
        padding: 16px;
        width: 70%;
        height: 400px;
        background: #fff;
        box-shadow: 0 10px 20px rgba(0, 0, 0, .15);
        background-size: cover;
        background-position: center;
    }
    .sample{
        max-width: 90%;
        margin: 50px auto;
        display: flex;
        justify-content: space-between;
    }
    .sample-item{
        width: 32%;
        height: 500px;
        border: 1px solid #7A7A7A;
        margin-bottom: 0px;
     }
     .sample-item-text a{
        text-decoration: none;
        color: black;
        font-size: 24px;
    }
    .sample-content{
        font-size: 14px;
    }
    
    
   

}