.LH-container{
    width: 1200px;
    margin: 0 auto;
}
main{
    background-color: rgba(0, 0, 0, 0.5);
}
.form input{
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid white;
    background-color: black;
}
.form button{
    width: 100%;
   padding: 10px;
   margin: 30px 0px;
}
.form{
    margin: 50px 0px;
    background-color: black;
    padding: 20px;
}
label{
    color: white;
}
.form p{
    font-size: 32px;
}
.form-infomation{
    display: flex;
    justify-content: space-between;
}
textarea{
    width: 100%;
    resize: none;
    padding: 10px;
    background-color: black;
}
.LH-heading{
    width: 85%;
    margin: 30px 0px;
    letter-spacing: 3px;
    color: white;
}
.LH-heading_title{

}