*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    line-height: 32px;
}
html,
body{
    font-family: sans-serif;
    font-size: 16px;
    background-color: #F1EADA;
}
 body.overflow{
    overflow: hidden;
}

	
.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .4);
    z-index: 11;

}
.popup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 111;
}

.slick-slide{
    position: relative;
}
.cursor{
    cursor: pointer;
}
.m-auto{
    margin: 0 auto;
}
 .p-d{
    padding: 20px;
 }


/* *****slick ***** */

.slick-arrow{
    position: absolute;
    top: 50%;
    z-index: 1;
}
.slick-next{
    right: 3%;
}
.slick-prev{
    left: 3%;
}


/* ********text content********** */



.txt-center{
    text-align: center;
}

.container-text .txt-p{
    letter-spacing: 3px;
}
.media{
    display: grid;
    grid-template: auto / 1fr 1fr;
}
.gird-g{
    grid-gap: 20px;
}
.text2 {
    background-color: #292929;
}
.color-w{
    color: white;
}
.p-d5{
    padding: 50px;
}
.Dg-text{
    width: 1000px;
    font-size: 14px;
}

.f-s{
    font-size: 14px;
}

.color-background{
    background-image: url(./image/backG.jpg);
    background-size: cover;
    background-position: center;
}

 /******** sdile slick *******/


 .multiple-items{
    padding: 50px 0px;
    
 }
.itemK {
    width: 100%;
    height: 100%;
    margin: 0px 20px;
}

.media .showroom{
    width: 60%;
    margin: 50% auto;
}


/* *********sample***** */


 .sample-item_img {
    width: 100%;
    height: 50%;
    background-size: cover;
    background-position: center; 
 }
.sample-item-text p {
   
    font-size: 16px;
}

.btnSample{
    padding: 10px 70px;
    border: 0;
    border: 1px solid #7A7A7A;
    background-color: #F1EADA;
    border-radius: 50px;
}
.btnSample:hover{
    background-color: #D4B88B;
    color: rgb(201, 128, 33);
}


/********** footer *********/

footer{
    background-color: #1F0F07;
}
.icon-footer{
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0px 3px;
}
.container-footer-item button{
    padding: 10px 30px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: #1F0F07;
    color: white;
}
.copy{
    padding: 20px;
    color: white;
    text-align: center;
}

.video{
    padding: 10px 30px;
    border-radius: 50px;
    border: 1px solid #7A7A7A;
    background-color: #F1EADA;
}
.DG-Vision{
    position: relative;
}
.DG-Vision a{
    float: right;
    font-size: 20px;
    margin: 10px;
    text-decoration: none;
}
.showVideo{
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
.showVideo.showV {
    display: block;
}

.itemK-show{
    width: 200px;
    height: 200px;
    background-color: aqua;
    display: none;
    margin: 0 auto;
}
.itemK-show.showK {
    display: block;
}
