.TK-banner{
    width: 100%;
    height: 100vh;
}
.grid{
    display: grid;
    grid-template: auto / 50% 1fr;
}
.infomationTK-item{
    height: 400px;
    width: 100%;
    background-size: cover;
}
.infomationTK-text{
    width: 450px;
    margin: 15% auto;
    
}
.l-s{
    letter-spacing: 3px;
}
.b-k{
    background-color: #E0DFDD;
}
.model{
    width: 100%;
    height: 400px;
    background-size: cover;
}
.grid-gap{
    grid-gap: 20px;
}
.grid a{
    text-decoration: none;
    color: black;
}
.modelHeading{
    font-size: 20px;
    padding: 30px;
}
.contact-item{
    width: 100%;
}
.contact-item form{
    width: 90%;
    margin: 50px auto;
}
.contact-item iframe{
    width: 100%;
    height: -webkit-fill-available;
}
.contact-item p{
    font-size: 32px;
    letter-spacing: 3px;
    padding: 20px;
}
.form-infomation{
    display: flex;
    justify-content: space-between;
}
.form input{
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid white;
    background-color: #1F0F07;
    color: white;
}
.form button{
    width: 100%;
    padding: 10px;
    border: 0;
}
textarea{
    width: 100%;
    padding: 10px;
    resize: none;
    background-color: #1F0F07;
    color: white;
}
label{
    font-size: 14px;
    color: white;
    padding: 10px;
}

/************* nội thât biệt thự *************/

.grid6-3{
    display: grid;
    grid-template: auto / 60% 1fr;
    height: 600px;
}
.grid3-6{
    display: grid;
    grid-template: auto / 1fr 60%;
    height: 600px;
}
.backNoiThat{
    width: 100%;
    background-size: cover;
}
.txt-heading{
    font-size: 20px;
}
.center{
    width: 360px;
    margin: 0 auto;
}
.l-h{
    line-height: 24px;
}
.txt-center button{
    margin: 30px 0px;
    padding: 5px 30px;
    border-radius: 50px;
    background-color: #F1EADA;
    border: 0;
    border: 1px solid black;
    letter-spacing: 1px;
}

/*********** câu hỏi *************/

.ques{
    width: 700px;
    margin: 0 auto;
}
.ques ul li{
    padding: 20px;
    font-size: 20px;
}
.ques ul{
margin-top: 20px;
}

.reply{
    padding: 20px 0px;
    display: none;
}
.reply.showR{
    display: block;
}
.reply-bk{
    width: 100%;
    height: 500px;
    background-size: cover;
}
