.TK-banner{
    height: 50vh;
    position: relative;
    background-size: cover;
}
.TK-banner h1{
    font-size: 20px;
}
.txt-h2{
    font-size: 20px;
}
.txt-p{
    font-size: 11px;
}
.txt-title{
    font-size: 16px;
}
.grid{
    display: grid;
    grid-template: auto / 1fr 1fr;
}
.model{
    background-size: cover;
    max-width: 100%;
    height: 200px;
}
.infomationTK-item{
     background-size: cover;
 }
 .modelHeading{
    font-size: 16px;
 }
 .grid6-3{
    display: grid;
    position: relative;
 }
 .backNoiThat{
    width: 100%;
    background-size: cover;
    height: 450px;
    margin-top: 5%;
}
.txt-heading{
    position: absolute;
    top: 0;
}
.txt-grid6_3{
    margin-top: 0%;
}
.ordeimg{
    order: -1;
}
.ordeheding{
    order: 0;
}
.title-ques{
    font-size: 20px;
}
.ques{
    max-width: 75%;
     margin: 0 auto;
 }
 .ques ul li{
    font-size: 16px;
    padding: 20px;
 }
 .reply-p{
    font-size: 11px;
 }
 .map{
    display: block;
 }
 .contact-item iframe{
    border: 0;
    height: 450px;
}

 



@media (min-width: 1200px){
    .grid{
        display: grid;
        grid-template: auto / 1fr 1fr;
    }
    .TK-banner{
        width: 100%;
        height: 100vh;
        position: relative;
    }
    .TK-banner h1{
        font-size: 32px;
    }
    .txt-h2{
        font-size: 32px;
    }
    .txt-p{
        font-size: 14px;
    }
    .txt-title{
        font-size: 24px;
    }
    .model{
        height: 400px;
        background-size: cover;
    }
    .infomationTK-item{
        height: 500px;
         background-size: cover;
     }
     .modelHeading{
        font-size: 20px;
        padding: 30px;
    }
    .grid6-3{
        display: grid;
        grid-template: auto / 1fr 1fr;
    }
    .backNoiThat{
        max-width: 100%;
        background-size: cover;
        margin-top: 0;
    }
     .txt-heading{
        font-size: 20px;
        position: absolute;
     }
     .txt-grid6_3{
        margin-top: 10%;
     }
     .ordeimg{
        order: 0;
     }
     .ordeheding{
        order: -1;
     }
     .ques{
       max-width: 90%;
        margin: 0 auto;
    }
    .title-ques{
        font-size: 32px;
    }
    .ques ul li{
        padding: 20px;
        font-size: 20px;
    }
    .reply-p{
        font-size: 14px;
    }
    .map{
        display: grid;
        grid-template: auto/  1fr 1fr ;
    }
    .contact-item iframe{
        border: 0;
    }

    
}