.TK-banner{
    width: 100%;
    height: 100vh;
    position: relative;
}
.TK-banner h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 111; 
}
.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .4);
    width: 100%;
    height: 100vh;  
}
.grid{
    display: grid;
    grid-template: auto / 50% 1fr;
}
.infomationTK-item{
    height: 400px;
    width: 100%;
    background-size: cover;
}
.infomationTK-text{
    width: 450px;
    margin: 15% auto;
    
}
.l-s{
    letter-spacing: 3px;
}
.b-k{
    background-color: #E0DFDD;
}
.model{
    width: 100%;
    height: 400px;
    background-size: cover;
}
.grid-gap{
    grid-gap: 20px;
}
.grid a{
    text-decoration: none;
    color: black;
}
.modelHeading{
    font-size: 20px;
    padding: 30px;
}
.contact-item{
    width: 100%;
}
.contact-item form{
    width: 90%;
    margin: 50px auto;
}
.contact-item iframe{
    width: 100%;
    height: -webkit-fill-available;
}
.contact-item p{
    font-size: 32px;
    letter-spacing: 3px;
    padding: 20px;
}
.form-infomation{
    display: flex;
    justify-content: space-between;
}
.form input{
    padding: 10px 10px 10px 0px;
    margin-bottom: 10px;
    border: 1px solid white;
    background-color: #1F0F07;
    color: white;
}
.form button{
    width: 100%;
    padding: 10px;
    border: 0;
}
textarea{
    width: 100%;
    padding: 10px;
    resize: none;
    background-color: #1F0F07;
    color: white;
}
label{
    font-size: 14px;
    color: white;
    font-weight: 600;
}

/************* nội thât biệt thự *************/

.grid6-3{
    display: grid;
    grid-template: auto / 60% 1fr;
    height: 600px;
}
.grid3-6{
    display: grid;
    grid-template: auto / 1fr 60%;
    height: 600px;
}
.backNoiThat{
    width: 100%;
    background-size: cover;
}
.txt-heading{
    font-size: 20px;
}
.center{
    width: 360px;
    margin: 0 auto;
}
.l-h{
    line-height: 24px;
}
.txt-center button{
    margin: 30px 0px;
    padding: 5px 30px;
    border-radius: 50px;
    background-color: #F1EADA;
    border: 0;
    border: 1px solid black;
    letter-spacing: 1px;
}

/*********** câu hỏi *************/

.ques{
    width: 700px;
    margin: 0 auto;
}
.ques ul li{
    padding: 20px;
    font-size: 20px;
}
.ques ul{
margin-top: 20px;
}

.question i.rotate{
    transform: rotate(90deg);
}
.question.back{
    background-color: #BDD5A6;
    color: rgb(48, 31, 196);
}
.reply{
    padding: 20px 0px;
    display: none;
}
.reply.showR{
    display: block;
    color: black;
}
.reply-bk{
    width: 100%;
    height: 500px;
    background-size: cover;
}

.showTK{
    width: 1000px;
    height: 600px;
    position: absolute;
    background-color: rgb(43, 49, 49);
    top:35%;
    left: 50%;
    transform: translate(-50%, -35%);
    display: none;   
}
.showTK.showT{
    display: block;
}
.showTK.remove{
    display: none;
}
.position{
    position: relative;
}

.single-item1{
    height: 600px;
    background-size: cover;
}
.removeTK{
    padding: 5px;
}
.m-t5{
    margin-top: 5px;
}

.popup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.popup .content {
    position: relative;
    z-index: 1111;
    border-radius: 16px;
    padding: 16px;
    width: 600px;
    height: 400px;
    background: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .15);
    background-size: cover;
}
