*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
p{
    color: white;
}
.color-w{
    color: white;
}
body{
    background-color: #1F0F07;
    font-family: sans-serif;
}
.d-f{
    display: flex;
    justify-content: space-between;
}
.l-s{
    letter-spacing: 3px;
}
.Close a{
    background-color:#1F0F07 ;
    border: 0;
}
.cursor{
    cursor: pointer;
}

/************** main **************/

.grid{
    display: grid;
}
.grid-template{
    grid-template: auto / 1fr 1fr 1fr ;
}


.item p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    font-weight: 600;
    z-index: 111;
}
.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .4);
    z-index: 11;
}
label{
    color: white;
    font-weight: 600;
}

.margin_t-l{
    margin: 50px 0px;
}
.item1{
    height: 60px;
    background-color: #1F0F07;
    border: 1px solid #423E35;
    position: relative;
    border-radius: 10px;
}
.item1:hover{
    background-color: #69645e;
    transition: 2s;
    color: #423E35;
}
.item1 p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    font-weight: 600;
    color: #D4B88B;
}

.grid-gap{
    grid-gap: 15px;
}

input{
    padding: 10px;
    margin-bottom: 10px;
}

textarea{
    width: 100%;
    height: 100px;
    padding: 10px;
    resize: none;
} 

.m-t{
    margin-top: 5px;
}
